HF_KEY=<HUGGINGFACE API KEY HERE>
OPENAI_API_KEY=<OPENAI API KEY HERE>
PINECONE_API_KEY=<PINECONE API KEY>
PINECONE_INDEX_NAME=<PINECONE INDEX NAME HERE>
PINECONE_NAMESPACE=<PINECONE NAMESPACE HERE>
COHERE_API_KEY=<COHERE API KEY HERE>